<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://lh3.googleusercontent.com/y916aBNjBJNkY6eBgkseKmHfBIXT680KwMtbW83uv52ue-afzRFbmDBqUddhARnWpRSqEHnH9lYlHMm3UliNjNNdLarSOcjW0kv6axEpVJUPcagpjgcVgwsYFZC2ej7vgZF9vo5Y6QKmwtuwk5Ma1ido0cnEzoo9HroVvQSPLT9BrqSHTWMunoR-PpgXYSwKpYrx-YIOC69szMzp73Ds7hv8jTrexW6EchBp94b90SDLOVoBlrSz1o2-z7JwBPAu7j86LqEK6yTRJ8_9Oz8VhOW3bjtFqODR_d0o3S2wZ8exqEawwth6dAfikHctWu-CIrJFqfveNGziXv8TCxe0oL5Lkd2ISr87zwdI1uegS0elvac7wxwQMTh0Ln-tLv4YSzwMHNDriv1yZnYvHhA9kAt8xtTwk3FkJ9b_yrFMlFp4QIRoRhez1aZK6IZPR1WQuUrvMceGKgWogqvwWkJqMjPgHsrwzsFPUwyJTfsxuYlRG2hAnQicuxTmFYVnUJkm9zVR4udhIQCHWCmG1sA0aETF793hZ0vaQyiO6I1DWB5jLmM3FGE3sKoKHpl7Tnv252JELwNa4W7g-ztdje2f3ow2KewWKj0jRiPvG_GGL17gXRcnAZb1UaVhRWPBqYp3lW-25N2KtxfTsidAmXZFFlY-40u-fcWC0p7ozy_EMvqvLk3xfX38DJe1qhQF=w576-h768-no?authuser=0" alt="Imagem">

    </div>
    
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace">ZzzzZZ
        </p>
        <a href="https://www.linkedin.com/in/guilherme-m%C3%A1ximo-7880a41a3/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

        <a href="https://github.com/Lilgui" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>