<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://lh3.googleusercontent.com/6fswzkObLA8uBZ2c-lPj_vL5MfiCOkwFryWnRDeFepoWlCVWAY0XhPcHRJE6Fbglt7JuMvzwDAYE-FtcquLHUUC-JjURkwyRWpnJRn8wqnf2XJzkg6PSJ8bTbd4o3V1SlBOCBLmOY6BDrJhGDTwrCboWCGU4YWH6PIasSqp4XLN4plsG4tt8B6PkYqLgOxSUS9HiNdTMPj2ZqN69fxRpSmuIZxXm1DuONbZWdlFAORoPh7tqti3UVkH-uzb6m5XVoD9X26qDXLhtx62o3jC1k9qPpqdODKqfKSnhBhEuPOWlCoYKGuPyocSnb9bbIqP6PVINtEmlNZsTnQB1V39b-xRyFv0TYemQS1jm1QWpMX7_oQjYWmmUQUyuLBUqcvdFfKe7yfjWzJUk5njIRdsuOJz3oDESaMwNR3FIogtP5ezaEYQHBdBypOr7MgdTU2rvhvLDrZMM3MBXNUWT33tcTzKAynPPmQ2wl8D9MttQT5iEG89m1jFAXUaGqpFrlR-FI3qUB2L1_wLsTtYNWaHCuVqw6wLUNPen46OXO_aGVJGCzsKCNI4nhuXBkzZVsVn6l-lDPILTXX5LNIg37elUkCZ00M-Hse8OneKwVsfuQg4ZYY2psPVRZizvKStPSJU3RAYRzANxUcoYwcJ5zsZhZmjz5BhybQbUa2UqX1oZbYRFogGPbBPf0ZcmUZUn=w576-h768-no?authuser=0" alt="Imagem">

    </div>
    
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Guilherme Máximo</h5>
        <p class="card-text text-center text-monospace">ZzzzZZ
        </p>
        <a href="https://www.linkedin.com/in/guilherme-m%C3%A1ximo-7880a41a3/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

        <a href="https://github.com/Lilgui" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>