<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="text-monospace texte-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero assumenda blanditiis voluptate, quo
                error odit cupiditate debitis deserunt ea saepe velit. Neque, dolore quam! Deleniti adipisci dolor velit
                dolores animi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente dolorem nam odio
                iste aliquid blanditiis cum minus, nostrum tenetur commodi natus a cupiditate aperiam vel necessitatibus
                atque perferendis fugit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus excepturi
                minima deserunt. Doloribus nesciunt tempore asperiores tempora amet delectus repellendus, nemo fuga iure
                commodi exercitationem tenetur minus magni error consequuntur?
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>